<div class="count-done">
  <img src="/assets/images/done.png" width="15" height="15" alt="done">
  <span class="count-done__text">{{ countDone }}</span>
  <button (click)="toggleShowDays()">
    <span *ngIf="isShowAllDays">Last days -</span>
    <span *ngIf="!isShowAllDays">All days +</span>
  </button>
</div>
<div class="days">
  <div *ngFor="let item of formattedDays; let i = index"
       [className]="'days__item item-' + numberOfWeek(item.dateWillDo) + ' color-' + item.day % 7">
    <div class="days__day"
         [class.weekend]="hasWeekend(item.dateWillDo)">{{ dayOfWeek(item.dateWillDo) }}</div>
    <div class="days__date"
         [class.weekend]="hasWeekend(item.dateWillDo)">{{ formattedDateWillDo(item.dateWillDo) }}</div>
    <div
      [class.active]="isMatchCurrentDay(item.dateWillDo)"
      [class.fail]="isMissedDay(item.dateWillDo) && !item.status"
      class="days__checkbox"
    >
      <button *ngIf="item.status === statusDayEmpty"
              (click)="item.status = statusDayHammock; updateGoals();">
        {{item.status}}
      </button>
      <button *ngIf="item.status === statusDayHammock"
              (click)="item.status = statusDayDone; updateGoals();">
        {{item.status}}
      </button>
      <button *ngIf="item.status === statusDayDone"
              (click)="item.status = statusDayEmpty; updateGoals();">
        {{item.status}}
      </button>

      <div
        [class.active]="isMatchCurrentDay(item.dateWillDo)"
        [class.fail]="isMissedDay(item.dateWillDo) && !item.status"
        [class.done]="item.status === statusDayDone"
        [class.hammock]="item.status === statusDayHammock"
        class="status"
      >
      </div>
    </div>
  </div>
</div>
<button class="days__remove" *ngIf="visibleEditButton" (click)="removeGoalLastWeek()">Remove last week</button>
