/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol
      *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

.main {
  max-width: 360px;
  margin: 0 auto;
  padding: 10px 15px;
}

.title {
  color: #fff;
  font-size: 20px;
}
.sub-title {
  color: #fff;
  font-size: 16px;
}
.title,
.sub-title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 200;
}

.goals {
  padding: 5px 15px 15px;
  margin-bottom: 20px;
  //background: linear-gradient(131deg, rgba(35, 37, 41, 0.63) 1%, rgba(16, 20, 18, 0.76) 100%);
  background: linear-gradient(131deg, rgba(35, 37, 41, 0.63) 1%, rgba(16, 20, 18, 0.76) 100%);
  border-radius: 12px;
}

.btn-edit {
  position: relative;
  top: -3px;
  padding: 3px 5px;
  color: #F9F0F0;
  background: #009764;
  outline: none;
  border: none;
  border-radius: 6px;
  font-size: 10px;
}
