.main {
  /*max-width: 330px;*/
  max-width: 450px;
  width: 100%;
  margin: 2rem auto;
  padding: 1rem;
  color: #fff;
}

.goals {
  padding: 5px 15px 15px;
  margin-bottom: 20px;
  background: linear-gradient(131.55deg, #232529 1.03%, #101412 100.35%);
  border-radius: 12px;
}

