.calendar {
  padding: 5px 15px 15px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(131deg, rgba(35, 37, 41, 0.63) 1%, rgba(16, 20, 18, 0.76) 100%);
  border-radius: 12px;

  &__head {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 5px;
    justify-items: center;
    margin-bottom: 7px;
  }
  &__table {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 5px;
    row-gap: 5px;
    justify-items: center;
  }
  &__title {
    margin: 10px 0 15px;
    text-align: center;
  }
  &__cell,
  &__name,
  &__title {
    color: #fff;
  }
  &__name {
    &.weekend {
      color: #ffbaba;
    }
  }
  &__cell {
    &.weekend {
      color: #ffbaba;
    }
  }
}
.number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
}
button {
  width: 35px;
  height: 35px;
  padding: 0;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 50%;
  &.waiting {
    background: #f2873e;
  }
  &.done {
    background: green;
  }
}
